$color-accent: #ffea00;
$color-accent-detalle-investigacion: hsl(348, 80%, 56%);
$bg-detalle-investigacion: hsl(60, 100%, 97%);

$color-tedic-rojo-oficial: #e22544;
$color-tedic-red: #ff1a80;
$color-tedic-blue: #0099cc;
$color-tedic-dark-red: #b30033;
$color-tedic-green: #00a18b;
$color-tedic-yellow: #ffeb33;