@use "colores" as *;

@mixin fondo-actual {
  background: url("../imagenes/bg_gris.png"), $color-tedic-green;
  background-size: 800px, cover;
  background-position: top left, center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
@mixin fondo-2017 {
  background: url("../imagenes/bg_gris.png"), $color-tedic-blue;
  background-size: 800px, cover;
  background-position: top left, center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
@mixin fondo-2020 {
  background: url("../imagenes/bg_gris.png"), $color-tedic-green;
  background-size: 800px, cover;
  background-position: top left, center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@mixin fondo-2022 {
  background: url("../imagenes/bg_gris.png"), $color-tedic-rojo-oficial;
  background-size: 800px, cover;
  background-position: top left, center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}