@use "breakpoints" as *;
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Open+Sans:wght@300;400;800&display=swap");

//@mixin lg {
//  font-size: 125%;
//  @content
//}

html {
  font-size: 100%;
  @include lg {
    font-size: 125%;
  }
}

body {
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
  @include lg {
    line-height: 1.75;
  }
}

.encabezado-container {
  font-family: "Open Sans", sans-serif;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  line-height: 1;
}

h1 {
  margin-top: 0;
  font-size: clamp(1.8rem, 5vw + 1rem, 4rem);
}

h2 {
  font-size: clamp(1.6rem, 3vw + 1rem, 2.5rem);
}

h3 {
  font-size: clamp(1.4rem, 2vw + 1rem, 2.25rem);
}

h4 {
  font-size: clamp(1.2rem, 1vw + 1rem, 2rem);
}

h5 {
  font-size: clamp(0.8rem, 1vw + 0.8rem, 1.5rem);
  text-transform: uppercase;
}

small,
.text_small {
  font-size: 0.75rem;
}
