@use "reset";
@use "breakpoints" as *;
@use "tipografia" as *;
@use "fondos" as *;
@use "efectos" as *;
@use "colores" as *;
@use "sass:color";

body {
  @include fondo-actual;
  &.ed2017 {
    @include fondo-2017;
  }
  &.ed2020 {
    @include fondo-2020;
  }
  &.ed2022 {
    @include fondo-2022;
  }
}

html {
  scroll-behavior: smooth;
}

.contenido {
  padding: 0 20px;
  max-width: 1160px;
  margin: 0 auto;
}

.encabezado-container {
  // background-color: rgba(black, 0.5);
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 9999;
  transition: all 300ms ease-in-out;
  @include box-shadow;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .identidad {
    img {
      max-height: 100px;
    }
  }
}

.scroll-down .encabezado-container {
  transform: translate3d(0, -100%, 0);
}

.principal {
  padding-top: 100px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.encabezado-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    text-decoration: none;
    color: inherit;
  }
  // .identidad {
  //   max-width: 100px;
  // }
  .navegacion {
    .menu-navegacion {
      display: flex;
      @media screen and (max-width: 767px) {
        position: absolute;
        flex-direction: column;
        right: 0;
        top: 100px;
        text-align: right;
        padding: 20px 40px;
        background: rgba(0, 0, 0, 0.55);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 4px 0 4px 4px;
        li a,
        li span {
          color: white;
        }
      }
      // @include md {
      ul {
        display: none;
      }
      // }
      &.menu-cerrado {
        display: none;
        @include md {
          display: flex;
        }
      }
    }
    ul li {
      position: relative;
      // margin-left: 20px;
      border-bottom: 1px solid rgba(white, 0.5);
      // padding: 5px 10px;
      @include md {
        border-bottom: none;
        margin-left: 25px;
      }
    }
    ul li:last-of-type {
      border-bottom: none;
    }
    ul li ul li {
      border-bottom: none;
    }
    ul li a,
    ul li span {
      text-transform: uppercase;
      // font-weight: 800;
      font-size: 0.65rem;
      // color: white !important;
      letter-spacing: 0.05rem;
      // padding: 5px 10px;
      // margin-left: 5px;
      cursor: pointer;
      // @include md {

      // }
    }
    li.con-submenu {
      position: relative;
      margin-left: 0;
      @include md {
        margin-left: 25px;
      }
      span {
        background-image: url("../imagenes/iconos/flechita.svg");
        background-position: center right;
        background-repeat: no-repeat;
        padding: 0 20px 0 0;
      }
      ul {
        // padding-right: 10px;
        margin: -5px 0 5px 0;
        li a {
          opacity: 0.85;
          font-weight: 300;
          font-size: 0.65rem;
          color: white;
        }
      }
      &.menu-abierto {
        ul {
          display: flex;
          flex-direction: column;
          padding: 0.5em 0;
          @include md {
            position: absolute;
            top: 130%;
            width: 160px;
            padding: 10px 0;
            background: rgba(0, 0, 0, 0.65);
            border-radius: 4px;
            @include box-shadow;
          }
          li {
            border-bottom: 1px solid rgba(white, 0.25);
            a {
              color: white !important;
            }
          }
        }
        ul li:last-of-type {
          border-bottom: none;
        }
      }
    }
  }
}

.hero-container .contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .edicion {
    background-color: rgba(black, 0.5);
    color: $color-accent;
    border-radius: 4px;
    padding: 8px 32px;
    margin-bottom: 24px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
  }
  h1 {
    color: white;
  }
  p {
    color: rgba(white, 0.85);
    max-width: 70ch;
  }
}

.investigacion-container .contenido {
  color: white;
  h2 {
    text-align: center;
  }
  p {
    max-width: 70ch;
    margin: 0 auto;
  }
  p + p {
    margin-top: 1.5rem;
  }
}

.grid-empresas {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  @include md {
    grid-template-columns: repeat(3, 1fr);
  }
  .empresa {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .hover {
      position: absolute;
      text-align: center;
      line-height: 1;
      display: none;
      strong {
        display: block;
      }
    }
  }
  .empresa:hover {
    background-color: rgba(black, 0.15);
    border-radius: 4px;
  }
}

.toggle-menu {
  position: absolute;
  right: 20px;
  user-select: none;
  .abierto {
    display: block;
    cursor: pointer;
  }
  .cerrado {
    display: none;
  }
  &.menu-cerrado {
    .abierto {
      display: none;
    }
    .cerrado {
      display: block;
      cursor: pointer;
    }
  }
  @include md {
    display: none;
  }
}

.cta-boton {
  padding: 1em 2.5em;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  color: rgba(black, 0.9);
  text-shadow: 1px 1px 0 rgba(white, 0.75);
  font-weight: 800;
  text-decoration: none;
  background-color: white;
  box-shadow: 1.2px 1.8px 2.2px rgba(0, 0, 0, 0.02),
    3px 4.3px 5.3px rgba(0, 0, 0, 0.028), 5.6px 8.1px 10px rgba(0, 0, 0, 0.035),
    10.1px 14.5px 17.9px rgba(0, 0, 0, 0.042),
    18.8px 27.2px 33.4px rgba(0, 0, 0, 0.05), 45px 65px 80px rgba(0, 0, 0, 0.07);
  &.accent {
    background-color: $color-accent;
  }
}

.cta-accent {
  background-color: $color-accent;
  &:hover {
    background-color: color.invert($color-accent);
    color: white;
    text-shadow: 1px 1px 0 color.invert(rgba(white, 0.75));
  }
}

.hero-container,
.preguntas-container,
.video-container,
.investigacion-container,
.empresas-container,
.organizaciones-container,
.footer-container {
  padding: 30px 0;
  @include md {
    padding: 50px 0;
  }
  @include lg {
    padding: 90px 0;
  }
}

.preguntas-container,
.footer-container {
  background-color: rgba(white, 0.9);
}

.video-container {
  background-color: rgba(black, 0.5);
  padding-left: 50px;
  padding-right: 50px;
  @include md {
    padding-left: 100px;
    padding-right: 100px;
  }
  .video {
    max-width: 400px;
    margin: 0 auto;
  }
  video {
    width: 100%;
    max-height: 100%;
  }
}

.empresas-container {
  // background-color: darken($color-tedic-red, 15%);
  background-color: $color-tedic-red;
}

.organizaciones-container,
.investigacion-container,
.empresas-container {
  h2 {
    margin-top: 0;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
  }
}

.preguntas-container {
  ul {
    display: grid;
    gap: 1em;
    @include sm {
      grid-template-columns: repeat(2, 1fr);
    }
    @include xl {
      grid-template-columns: repeat(4, 1fr);
    }
    li {
      img {
        transition: all 0.25s ease-in-out;
      }
      &:hover {
        img {
          transform: scale(1.05);
          @include box-shadow;
        }
      }
    }
  }
}

.organizaciones-container {
  .grid-organizaciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include md {
      flex-direction: row;
      gap: 4em;
      justify-content: center;
      align-items: stretch;
    }
  }
  .org {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(white, 0.9);
    text-align: center;
    max-width: 300px;
    padding: 1em;
    border-radius: 4px;
    // padding: 0
    p {
      font-size: 16px;
      line-height: 1.5;
      margin-top: 15px;
    }
  }
  .org + .org {
    margin-top: 2em;
    @include md {
      margin-top: 0;
    }
  }
}

.opciones {
  margin-top: 2em;
  ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @include lg {
      flex-direction: row;
    }
    li {
      margin-bottom: 1em;
      @include lg {
        margin-bottom: 0;
        padding: 0 0.5em;
      }
    }
  }
}

.footer-container {
  text-align: center;
  h3 {
    margin-top: 0;
  }
  .grid-contactos {
    display: flex;
    justify-content: center;
    .contacto {
      padding: 1em 2.5em;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      img {
        max-width: 80px;
        margin-bottom: 15px;
      }
    }
  }
}

.cuadro-comparativo {
  img {
    margin: 50px auto 0;
  }
}

.detalle-investigacion {
  background: white;
}

.detalle-edicion {
  h3 {
    margin-top: 0;
  }
  > div {
    .contenido {
      padding: 50px 20px;
      @include md {
        padding: 90px 20px;
      }
    }
  }
}

.detalle-edicion {
  a:link,
  a:active {
    color: rgba(black, 0.8);
  }
  a:visited {
    color: rgba(black, 0.65);
  }
  a:hover {
    color: black;
  }
  #presentacion {
    h3 {
      display: flex;
      align-items: center;
      strong {
        font-size: 1rem;
        display: inline-block;
        color: white;
        background-color: hsl(286deg 64% 31%);
        padding: 0.5rem 1rem;
        margin-left: 0.5rem;
        border-radius: 4px;
      }
    }
  }
}

#criterios {
  blockquote {
    padding: 0.25em 0;
    font-style: italic;
    @include md {
      padding: 1em;
    }
  }
}

#reportes-por-isp {
  .listado-criterios-evaluacion ul {
    li {
      display: flex;
      align-items: baseline;
    }
    ul {
      flex-basis: 100%;
      margin-left: 70px;
      margin-top: 10px;
    }
  }
}

.calificacion-final {
  img {
    max-width: 50px;
    margin: 0 auto;
  }
}

span.accent {
  color: $color-accent-detalle-investigacion;
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
}

span.numeral {
  display: inline-block;
  color: $color-accent-detalle-investigacion;
  font-weight: bold;
  font-size: 1.2rem;
  min-width: 40px;
}

.tabla-estandar-desempeno {
  font-size: 14px;
  margin: 2em 0;
  @include lg {
    font-size: 18px;
  }
  th {
    padding-bottom: 0.75em;
  }
  td {
    background-color: #dadada;
    padding: 0.25em 1em;
    border-bottom: 2px solid white;
    vertical-align: middle;
    line-height: 1.2;
  }
  img {
    max-width: 25px;
    margin: 0 0.5em;
    @include lg {
      max-width: 35px;
    }
  }
}

.resumen-isp {
  box-shadow: 0px 0px 15.5px rgba(0, 0, 0, 0.006),
    0px 0px 28px rgba(0, 0, 0, 0.008), 0px 0px 38.8px rgba(0, 0, 0, 0.01),
    0px 0px 50.4px rgba(0, 0, 0, 0.012), 0px 0px 68.7px rgba(0, 0, 0, 0.014),
    0px 0px 120px rgba(0, 0, 0, 0.02);
  padding: 30px 10px;
  background-color: white;
  border-radius: 10px;
  @include lg {
    padding: 3em;
  }
  h5 {
    margin-top: 0;
    text-align: center;
  }
}

.resumen-isp + .resumen-isp {
  margin-top: 2em;
}

.tabla-reporte-isp {
  border-collapse: separate;
  border-spacing: 3px;
  margin-bottom: 20px;
  tr {
    background-color: #dadada;
    th,
    td {
      padding: 0.5em 1em;
    }
    th {
      background-color: $color-accent-detalle-investigacion;
      color: white;
      text-align: center;
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 0.05em;
      font-family: "Open Sans";
    }
  }
  td.indicador {
    text-align: center;
    color: $color-accent-detalle-investigacion;
    font-weight: bold;
    font-size: 1.5rem;
  }
  tr.subhead {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: color.adjust(
      $color-accent-detalle-investigacion,
      $lightness: 30%
    ) !important;
    td {
      text-align: center;
    }
  }
  tr:nth-child(even) {
    background-color: rgb(237, 237, 237);
  }
}

#presentacion {
  .columnas {
    margin-top: 2em;
    @include md {
      margin-top: 4em;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .columna {
      ul {
        @include md {
          text-align: center;
        }
      }
      ul + ul {
        margin-top: 1em;
      }
    }
  }
}

// CSS para tabla de contenidos al costado

.detalle-edicion {
  @include lg {
    display: grid;
    gap: 1em;
    grid-template-columns: 350px 1fr;
  }
}

.indice {
  ul {
    > li {
      padding: 0.5em 0;
      border-bottom: 1px solid rgba(black, 0.15);
      @include md {
        padding: 1.5em 0;
      }
    }
    li:last-of-type {
      border-bottom: none;
    }
    ul {
      padding: 0.5em 0;
      @include md {
        padding: 0.5em 0 0 1.5em;
      }
      li {
        padding: 0.25em 0;
        border-bottom: none;
      }
    }
  }
  @include lg {
    position: sticky;
    top: 2rem;
    align-self: start;
    max-height: calc(100vh - 2rem);
    overflow-y: auto;
    h3 {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      margin: 0 0 20px 0;
    }
    font-size: 14px;
    ul li {
      padding: 10px 0;
    }
    a:hover,
    a:focus {
      color: $color-accent-detalle-investigacion;
    }
  }
}

.warning {
  background-color: rgba(hsl(286deg 64% 31%), 0.15);
  padding: 1em 2.5em;
  font-size: 14px;
  border-radius: 2px;
  margin: 1em 0;
  @include lg {
    margin: 3em 0;
  }
}
