<!DOCTYPE html>
<html lang="{{idioma}}">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ titulo }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="{{'/css/estilos.css' | url }}" />
</head>

<body class="{% if 'edicion2017' in page.url %}ed2017{% elif 'edicion2020' in page.url %}ed2020{% elif 'edicion2022' in page.url %}ed2022{% elif 'investigacion2022' in page.url or 'investigacion2024' in page.url %}detalle-investigacion{% else %}actual{% endif %}">
  {# <body class="{% if '2017' in page.url %}ed2017{% endif %}{% if '2020' in page.url %}ed2020{% endif %}"> #}
  <div class="encabezado-container">{% include "partials/encabezado.html" %}</div>
  <main tabindex="-1" class="principal" id="contenido-primario">
    {% block content %}
    {% endblock %}
  </main>
  <div class="footer-container">{% include "partials/footer.html" %}</div>
</body>
<script src="{{ '/js/app.js' | url }}"></script>
<script src="{{ '/js/matomo.js' | url }}"></script>

</html>