{% extends "layouts/base.html" %} {% block content %}
<div class="hero-container">{% include "partials/hero.html" %}</div>
<div class="preguntas-container">{% include "partials/preguntas.html" %}</div>
<div class="video-container">{% include "partials/video.html" %}</div>
<div class="investigacion-container" id="investigacion">
  {% include "partials/investigacion.html" %}
</div>
<div
  class="empresas-container {% if 'edicion2017' in page.url %}empresas2017{%elif 'edicion2020' in page.url %}empresas2020{%elif 'edicion2022' in page.url %}empresas2022{%endif%}"
  id="empresas"
>
  {% include "partials/empresas.html" %}
</div>
<div class="organizaciones-container" id="organizaciones">
  {% include "partials/organizaciones.html" %}
</div>
{% endblock %}
