<article class="contenido">
  <h2>{{empresas[idioma].titulo}}</h2>
  <div class="grid-empresas">
    <div class="empresa">
      <img src="../imagenes/logos/logo-tigov2.svg" alt="Logo Tigo" />
      <span class="hover">{{empresas[idioma].tigo | safe}}</span>
    </div>
    <div class="empresa">
      <img
        src="../imagenes/logos/logo-personalv2.svg"
        alt="Logo Personal"
      />
      <span class="hover">{{empresas[idioma].personal | safe}}</span>
    </div>
    <div class="empresa">
      <img src="../imagenes/logos/logo-copacov2.svg" alt="Logo Copaco" />
      <span class="hover">{{empresas[idioma].copaco | safe}}</span>
    </div>
    <div class="empresa">
      <img src="../imagenes/logos/logo-clarov2.svg" alt="Logo Claro" />
      <span class="hover">{{empresas[idioma].claro | safe}}</span>
    </div>
    <div class="empresa">
      <img src="../imagenes/logos/logo-voxv2.svg" alt="Logo Vox" />
      <span class="hover">{{empresas[idioma].vox | safe}}</span>
    </div>
    {% if '2017' in page.url %}
    <div class="empresa">
      <img src="../imagenes/logos/logo-chaconetv2.svg" alt="" />
      <span class="hover">{{empresas[idioma].chaconet | safe}}</span>
    </div>
    {% endif %}
  </div>
</article>
