<div class="contenido header">
  <div class="identidad">
    <a href="/"
      ><img
        src="{{'../imagenes/qdtd-logov2.svg'}}"
        alt="¿Quién defiende tus datos?"
    /></a>
  </div>
  <div class="navegacion">{% include "partials/navegacion.html" %}</div>
  <div class="toggle-menu menu-cerrado">
    <div class="cerrado">
      <img src="{{'/imagenes/iconos/menu-cerrado.svg'}}" alt="" />
    </div>

    <div class="abierto">
      <img src="{{'/imagenes/iconos/menu-abierto.svg'}}" alt="" />
    </div>
  </div>
</div>
