<article class="contenido" id="contacto">
  <h3>{{footer[idioma].titulo}}</h3>
  <p>{{footer[idioma].subtitulo}}</p>
  <div class="grid-contactos">
    <div class="contacto">
      <a href="{{footer[idioma].urlTW}}" target="_blank"
        ><img
          src="{{footer[idioma].iconoTW}}"
          alt="Twitter"
        />{{footer[idioma].textoTwitter}}</a
      >
    </div>
    <div class="contacto">
      <a href="{{footer[idioma].urlForm}}" target="_blank"
        ><img
          src="{{footer[idioma].iconoForm}}"
          alt="Formulario de contacto"
        />{{footer[idioma].textoForm}}</a
      >
    </div>
  </div>
</article>
