<article class="contenido">
  <div class="edicion">
    {% if 'edicion2017' in page.url %}2017{% elif 'edicion2020' in page.url %}2020{%elif 'edicion2022' in page.url %}2022{% else %}
    2024{% endif %}
  </div>
  <h1>{{hero[idioma].titulo}}</h1>
  <p>{{hero[idioma].descripcion}}</p>
  <a href="#investigacion" class="cta-boton cta-accent">{{hero[idioma].cta}}</a>
</article>
