<article class="contenido">
  <h2>{{investigacion[idioma].titulo}}</h2>
  <p>
    {% if '2022' in page.url %}
      {{investigacion[idioma].edicion2022.texto | safe}}
    {% elif '2020' in page.url %}
      {{investigacion[idioma].edicion2020.texto | safe}}
    {% elif '2017' in page.url %}
      {{investigacion[idioma].edicion2017.texto | safe}}
    {% else %}
      {{investigacion[idioma].edicionActual.texto | safe}}
    {% endif %}
  </p>
  <div class="cuadro-comparativo">
    <img
      src="{% if '2022' in page.url %}{{investigacion[idioma].edicion2022.cuadro}}{%elif '2020' in page.url %}{{investigacion[idioma].edicion2020.cuadro}}{%elif '2017' in page.url %}{{investigacion[idioma].edicion2017.cuadro}}{%else%}{{investigacion[idioma].edicionActual.cuadro}} {% endif %}"
      alt="Cuadro comparativo"
    />
    <div class="opciones">
      <ul>
        {% if 'edicion2022' in page.url %}
        <li>
          <a
            href="{{investigacion[idioma].edicion2022.linkHTML}}"
            class="cta-boton accent"
            >{{investigacion[idioma].edicion2022.textoHTML}}</a
          >
        </li>
        {% endif %}
        <li>
          <a
            href="{% if '2022' in page.url %}{{investigacion[idioma].edicion2022.linkPDF}}{%elif '2020' in page.url %}{{investigacion[idioma].edicion2020.linkPDF}}{%elif '2017' in page.url %}{{investigacion[idioma].edicion2017.linkPDF}}{%else%}{{investigacion[idioma].edicionActual.linkPDF}} {% endif %}"
            class="cta-boton"
            >{{investigacion[idioma].textoBoton}}</a
          >
        </li>
      </ul>
    </div>
  </div>
</article>
