<ul class="menu-navegacion menu-cerrado">
  {% if 'investigacion2022' not in page.url and 'investigacion2024' not in page.url %}
  <li>
    <a href="{{navegacion[idioma].investigacionURL}}"
      >{{navegacion[idioma].investigacion}}</a
    >
  </li>
  <li>
    <a href="{{navegacion[idioma].empresasURL}}"
      >{{navegacion[idioma].empresas}}</a
    >
  </li>
  <li>
    <a href="{{navegacion[idioma].organizacionesURL}}"
      >{{navegacion[idioma].organizaciones}}</a
    >
  </li>
  {% endif%}
  <li class="con-submenu">
    <span>Ediciones </span>
    <ul>
      <li>
        <a href="{{navegacion[idioma].ediciones.edicion2024URL}}"
          >{{navegacion[idioma].ediciones.edicion2024}}</a
        >
      </li>
      <li>
        <a href="{{navegacion[idioma].ediciones.edicion2022URL}}"
          >{{navegacion[idioma].ediciones.edicion2022}}</a
        >
      </li>
      <li>
        <a href="{{navegacion[idioma].ediciones.edicion2020URL}}"
          >{{navegacion[idioma].ediciones.edicion2020}}</a
        >
      </li>
      <li>
        <a href="{{navegacion[idioma].ediciones.edicion2017URL}}"
          >{{navegacion[idioma].ediciones.edicion2017}}</a
        >
      </li>
    </ul>
  </li>
  <li>
    <a href="{{navegacion[idioma].contactoURL}}"
      >{{navegacion[idioma].contacto}}</a
    >
  </li>
</ul>
