<article class="contenido">
  <h2>{{organizaciones[idioma].titulo}}</h2>
  <div class="grid-organizaciones">
    <div class="org">
      <img src="{{organizaciones[idioma].logoTedic}}" alt="" />
      <p>{{organizaciones[idioma].descripcionTedic}}</p>
    </div>
    <div class="org">
      <img src="{{organizaciones[idioma].logoEFF}}" alt="" />
      <p>{{organizaciones[idioma].descripcionEFF}}</p>
    </div>
  </div>
</article>
