<article class="contenido">
  <ul
    class="{% if 'edicion2017' in page.url %}colores2017{% elif '2020' in page.url %}colores2020{% elif '2022' in page.url %}colores2022{%endif%}"
  >
    <li>
      <img
        src="{{preguntas[idioma].pregunta1IMG}}"
        alt="{{preguntas[idioma].pregunta1}}"
      />
    </li>
    <li>
      <img
        src="{{preguntas[idioma].pregunta2IMG}}"
        alt="{{preguntas[idioma].pregunta2}}"
      />
    </li>
    <li>
      <img
        src="{{preguntas[idioma].pregunta3IMG}}"
        alt="{{preguntas[idioma].pregunta3}}"
      />
    </li>
    <li>
      <img
        src="{{preguntas[idioma].pregunta4IMG}}"
        alt="{{preguntas[idioma].pregunta4}}"
      />
    </li>
  </ul>
</article>
