<div class="video">
  {% if 'edicion2017' in page.url or 'edicion2020' in page.url or 'edicion2022' in page.url %}
  <video controls preload="auto" src="../../imagenes/QDTD_importancia.webm">
  </video>
  {% else %}
  <video controls preload="auto" src="../../imagenes/QDTD_promocional_2024.mp4">
  </video>
  {% endif %}
</div>
